
<section id="import">
	<h2>Querify an Import</h2>
	<p>Given a spreadsheet/tab dilemeted text (with headers), guidempty will create a table and generate database inserts for a given table name.</p>

	<div class="row">
		<div class="col-md-12">
			<label for="import-table">Table Name:</label><br />
			<input type="text" class="form-control" id="import-table" value="@ViewBag.NewGuid.ToString().Replace("-", "$")" />
			<ul>
				<li class="checkbox"><input type="checkbox" id="import-createTable" checked="checked" /><label for="import-createTable">Create table</label></li>
				<li><input type="text" id="import-columnSize" value="nvarchar(512)" class="form-control" /></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label for="import-source">Source:</label><br />
			<textarea id="import-source" class="form-control" rows="16"></textarea><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br />
			<div class="center-block">
				<button id="import-go" class="btn btn-primary btn-lg">Go &darr;</button>
			</div>
			<br />
		</div>
	</div>
	<div class="row" id="import-outputPanel">
		<div class="col-md-12">
			<label for="import-output" id="import-output-label">Output:</label><br />
			<textarea id="import-output" class="form-control" rows="25"></textarea>
		</div>
	</div>
</section>