<section id="list">
	<h2>Querify a List</h2>
	<p>Paste a list of IDs (or other text) into the Source input. Click 'Go' and watch in amazement as guidempty generate a list of quoated comma separated items to use with a SQL "IN" query. You're welcome.</p>
	<div class="row">
		<div class="col-md-5">
			<label for="list-source">Source:</label><br />
			<textarea id="list-source" class="form-control" rows="25"></textarea>
		</div>
		<div class="col-md-2" style="padding-top:15em;text-align:center;">
			<button id="list-go" class="btn btn-primary btn-lg">Go &rarr;</button>
		</div>
		<div class="col-md-5">
			<label for="list-output">Output:</label><br />
			<textarea id="list-output" class="form-control" rows="25"></textarea>
		</div>
	</div>
</section>