<section id="main">
	<div class="row">
		<div class="col-md-8">
			<h2>Guid.Empty &mdash; Empty Guid</h2>
			<h3>Your source for an empty guid</h3>
			<p>
				There are some empty guid/Guid.Empty related tools for copying and putting into SQL.
				There are also several other masterpieces of modern engineering, including:
			<ul>
				<li><a href="#list">Querifying a List</a></li>
				<li><a href="#import">Querifying an Import</a></li>
				<li><a href="#lunch">Ghetto Spoon</a>, a food-decision <em>engine</em></li>
			</ul>
			</p>
		</div>
		<div class="col-md-4">
			<h3>SQL</h3>
			<input type="text" class="form-control" value="cast(cast(0 as binary) as uniqueidentifier)" />
		</div>
	</div>
</section>