<section id="lunch">
	<h2><i class="glyphicon glyphicon-cutlery"></i> Ghetto Spoon</h2>
	<p>Let guidempty choose where you should have your next meal using our food decision engine, consisting of our own proprietary and revolutionary technology.</p>

	<h3 id="lunch-output"></h3>

	<textarea class="form-control" id="lunch-source" rows="18">
Pick Up Stix
Submarina
In N Out
Los Tacos
Panda
Five Guys
Habit
China One
Noodle Place
Jersey Mikes
Chipotle
Campinis
Los Tacos
Taco Bell
Siggy&#39;s
Waba Grill
Habit
Los Tacos
Panda</textarea>
	<br />
	<button id="lunch-go" class="btn btn-primary btn-lg">Choose!</button>

	<script src="/js/lunch.js"></script>
</section>